<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>NLP2RDF</display-name>
    <servlet>
        <servlet-name>NIFLingPipe</servlet-name>
        <servlet-class>org.nlp2rdf.implementation.lingpipe.NIFLingPipe</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NIFLingPipe</servlet-name>
        <url-pattern>/NIFLingPipe</url-pattern>
    </servlet-mapping>

</web-app>
