<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>NLP2RDF</display-name>


    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>org.nlp2rdf.webservice.TestServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>NIFConverter</servlet-name>
        <servlet-class>org.nlp2rdf.webservice.NIFConverter</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NIFStemmer</servlet-name>
        <servlet-class>org.nlp2rdf.webservice.NIFStemmer</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>NIFConverter</servlet-name>
        <url-pattern>/NIFConverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NIFStemmer</servlet-name>
        <url-pattern>/NIFStemmer</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test/</url-pattern>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

</web-app>
